In [1]:
import pandas as pd
df = pd.read_csv("groupby.csv",names=['day','city','temperature','windspeed','event'])
df

         day     city  temperature  windspeed  event
0   1/1/2016  newyork           32          6   Rain
1   1/2/2016  newyork           36          7  sunny
2   1/3/2016  newyork           28         12   snow
3   1/4/2016  newyork           33          7  sunny
4   1/1/2016   mumbai           30          6   Rain
5   1/2/2016   mumbai           40          7  sunny
6   1/3/2016   mumbai           25         12   snow
7   1/4/2016   mumbai           35          7  sunny
8   1/1/2016    paris           45          6   Rain
9   1/3/2016    paris           23         12   snow
10  1/2/2016    paris           20          7  sunny
11  1/4/2016    paris           20          7  sunny

In [2]:
#Question 1)Find Maximum temperature in each of the cities
#Question 2) Find Average wind Speed Per city

In [3]:
#First you need to create a sub groups in Ou datasets
my_group = df.groupby('city')
my_group

In [4]:
Maximum_Temperature = df.groupby('city').max()#Maximum value in whole data with the help of columns
Maximum_Temperature

              day  temperature  windspeed  event
city
mumbai   1/4/2016           40         12  sunny
newyork  1/4/2016           36         12  sunny
paris    1/4/2016           45         12  sunny

In [5]:
Minimum_temperature = df.groupby('city').min()#Minimum Value in data
Minimum_temperature

              day  temperature  windspeed event
city
mumbai   1/1/2016           25          6  Rain
newyork  1/1/2016           28          6  Rain
paris    1/1/2016           20          6  Rain

In [6]:
#For Printing and to know how the actual group is Made Visually Use this commands
for city, city_df in  my_group:
    print(city)
    print(city_df)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2016  mumbai           30          6   Rain
5  1/2/2016  mumbai           40          7  sunny
6  1/3/2016  mumbai           25         12   snow
7  1/4/2016  mumbai           35          7  sunny
newyork
        day     city  temperature  windspeed  event
0  1/1/2016  newyork           32          6   Rain
1  1/2/2016  newyork           36          7  sunny
2  1/3/2016  newyork           28         12   snow
3  1/4/2016  newyork           33          7  sunny
paris
         day   city  temperature  windspeed  event
8   1/1/2016  paris           45          6   Rain
9   1/3/2016  paris           23         12   snow
10  1/2/2016  paris           20          7  sunny
11  1/4/2016  paris           20          7  sunny

In [7]:
#For Getting Group of Specific then 
my_group.get_group('mumbai')

        day    city  temperature  windspeed  event
4  1/1/2016  mumbai           30          6   Rain
5  1/2/2016  mumbai           40          7  sunny
6  1/3/2016  mumbai           25         12   snow
7  1/4/2016  mumbai           35          7  sunny

In [12]:
my_group.get_group('mumbai').max()#Getting Maximum Values of Mumbai

day            1/4/2016
city             mumbai
temperature          40
windspeed            12
event             sunny
dtype: object